Dominion Functional reqs
========================

1 Can append arbitrary elements to an existing element
1.1 the element name can be specified
1.2 attributes can be specified

2 can create specific tags with a simple call
2.1 text input
2.2 select box
2.3 options

4 plugin functions can be called using normal jQuery syntax (ie. passing the method name as a string as the first argument
5 a set of constants for method names should be available
6 devs can promote the Dominion methods to first class jquery methods
7 Methods can be renamed before being promoted to avoid name clashes
8 Name clashes that are not avoided should be detected before promotion occurs
9 callbacks should be supported for each new element created
10 can specify a tags inner text as a parameter
